<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wilsonvillerobotics.firstteamscouter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_BLUETOOTH_SHARE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="FIRSTTeamScouter">
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EnterTeamMatchDataActivity"
            android:label="@string/title_activity_enter_team_match_data"
            android:screenOrientation="landscape" />
        <activity android:name=".SelectMatchTeamActivity"
            android:label="@string/title_activity_team_match_list"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name=".OldTeamInformationActivity"
            android:label="@string/title_activity_team_information"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name=".ViewDataActivity"
            android:label="@string/title_activity_view_data"
			android:screenOrientation="landscape" >
        </activity>
        <activity android:name=".TeamDataListActivity"
            android:label="@string/title_activity_team_data_list"
            android:screenOrientation="landscape"  />
        <activity android:name=".TeamMatchDataListActivity"
            android:label="@string/title_team_match_data_list"
            android:screenOrientation="landscape" />
        <activity android:name=".TeamMatchInformationActivity"
            android:label="@string/title_team_match_information"
            android:screenOrientation="landscape" />
        <activity android:name=".MatchAutoModeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".MatchTeleModeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".MatchStartingPositionActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".MatchTeamNumberDisplayActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".MatchNotesActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".TeamInformationActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".TeamListActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".PictureListActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".NoteListActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".AddNoteActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".SetPreferenceActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".MatchDataManagementActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".MatchDataImportActivity"
            android:label="@string/title_activity_import_match_data"
            android:screenOrientation="landscape" />
        <activity android:name=".MatchDataExportActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>
